:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 40px;
  margin: 0 auto;
}

.sections {
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 30px;
  align-items: start;
}

.outcomes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.outcomes__form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: -14px;
  column-gap: 7px;
  align-items: end;
}

.main-form__label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: grey;
  font-size: smaller;
  width: fit-content;
}

.main-form__button {
  height: 30px;
}

.outcomes__list-container {
  width: 100%;
  min-width: 20vw;
  min-height: 60vh;

}

.outcomes__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 40vh;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.outcomes__list li:not(:last-child) {
  border-bottom: 1px solid rgba(8, 145, 178, 1);
}

.outcomes__list li:nth-child(odd) {
  background-color: rgba(8, 145, 178, 0.07);
}
.outcomes__list li:nth-child(even) {
  background-color: rgba(8, 145, 178, 0.03);
}

.outcomes__list-item {
  width: 100%;
  padding: 7px 5px;
}

.main-form__input {
  padding: 5px;
}


.outcomes__total {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: flex-end;
  margin-right: 20%;
}

.outcome {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 35% 20% 15% 10%;
  align-items: center;
}

.outcome__name {
  padding: 0 5px;
}

.report {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.report-filters {
  display: flex;
}

.report__category-output {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-self: start;
}
.report__category {
  display: flex;
  column-gap: 10px;
}

.report__diagramm {
  width: 300px;
  height: 300px;
}

.report-filters__form-field {
  padding: 5px;
}

.report-filters__form-field--select {
  margin-right: 30px;
}